/venv/
/.env
/alembic.ini
/preprocessing/src/templates/
/preprocessing/src/operations/
/preprocessing/src/auth/
/preprocessing/migrations/
/inference/photo_video/deepfake_model/wild_epoch_21.pth
/preprocessing/photo_video/face_vec/vec_model.onnx
/preprocessing/photo_video/func_img_proc/weights.caffemodel
/preprocessing/photo_video/func_img_proc/deploy.prototxt
/.idea
**/__pycache__