/venv/
/.env
/alembic.ini
/preprocessing/src/templates/
/preprocessing/src/operations/
/preprocessing/src/auth/
/preprocessing/migrations/
/inference/photo_video/deepfake_model/wild_epoch_21.pth
/preprocessing/photo_video/face_vec/vec_model.onnx
/preprocessing/photo_video/func_img_proc/weights.caffemodel
/preprocessing/photo_video/func_img_proc/deploy.prototxt
/.idea/
__pycache__/
/inference/photo_video/deepfake_model/wild_epoch_36.pth
/start.txt
/preprocessing/media/
/inference/photo_video/deepfake_model/model_epoch_76.pth
/inference/photo_video/deepfake_model/model_v3_6.pt
/trash.py
/preprocessing/photo_video/func_img_proc/model.pt
/inference/photo_video/deepfake_model/model_v3_15.pt
/inference/photo_video/deepfake_model/resnet_detfake_v1_1.pt
/inference/photo_video/deepfake_model/resnet_detfake_v1.1_1.pt
/inference/photo_video/deepfake_model/resnet_detfake_v1.2_5.pt
/inference/photo_video/deepfake_model/resnet_detfake_v1.3_3.pt
/inference/.idea/
/preprocessing/photo_video/face_vec/vec_model.zip
/preprocessing/photo_video/func_img_proc/models2.zip
/inference/photo_video/deepfake_model/models.zip
/inference/photo_video/deepfake_model/.idea/
/inference/photo_video/deepfake_model/resnet_focal_loss_v2.1_1.pth
/inference/photo_video/deepfake_model/resnet_focal_loss_v2.2_1.pth
/inference/photo_video/deepfake_model/resnet_focal_loss_v2.3_19.pth
